body {
  font-family: "Figtree", sans-serif;
  background: #f6db76;
  margin: 0;
}

.card {
  width: 350px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 15px;
  box-shadow: 8px 8px 0 rgba(0,0,0,0.8);
  margin: 200px auto;
  padding: 20px;
}

.card-image {
  width: 100%;
  border-radius: 10px;
}

.status {
  background: #f8da6e;
  padding: 4px 10px;
  border-radius: 5px;
  font-weight: 700;
  display: inline-block;
  margin-top: 15px;
}

.date {
  font-size: 13px;
  margin-top: 12px;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
}

.description {
  line-height: 1.6;
  color: #7a7a7a;
  font-size: 16px;
  margin-top: 12px;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.author-name {
  font-size: 14px;
  font-weight: 600;
}
